<h1>Owners Index</h1>
<p><%= link_to "New Owner", new_owner_path %> | <%= link_to "Listings Index", buildings_path %></p>
<ol>
<% @owners.each do |owner| %>
<li><%= link_to owner.name, owner %></li>
<% end %>
</ol>
