<h1>Listings Index</h1>
<p><%= link_to "New Listing", new_building_path %> | <%= link_to "Owners Index", owners_path %></p>
<ol>
<% @buildings.each do |building| %>
<li><%= link_to building.address, building %></li>
<% end %>
</ol>
